<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,800;1,500;1,700&display=swap" rel="stylesheet"></link>
body  {
    margin:5% 10% 5% 10%;
    background-color:#74CEE0;
    }
header  {
    background-color:#74CEE0;
    margin:-5% -10% 0% -10%;
    }
footer  {
    background-color:#74CEE0;
    margin:0% -10% -5% -10%;
    }
h1  {
    color: #6F8F3B;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2%; 
    padding-left: 5%; 
    padding-right: 5%; 
    font-size: 36px;
    }
h2,h3  {
    color: #6F8F3B;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2%; 
    padding-left: 5%; 
    padding-right: 5%; 
    font-size: 24px;
    }
p  {
    color: black;
    font-family: 'Montserrat', sans-serif;
    line-height: 175%;
    font-size: 16px;
    padding-left: 5%; 
    padding-right: 5%; 
    }
a:link, a:visited  {
    color: #36BDD3;
    text-decoration: none;
    }
a:hover  {
    color: #DA4826;
    text-decoration: none;
    }
button  {
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #36BDD3; 
    border: 3px solid #DA4826;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }
button:hover {
    background-color: #DA4826; 
    color: white;
}
input  {
    font-family: 'Montserrat', sans-serif; 
    border: 3px solid #DA4826;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    }
.result  {
    background-color:#F2F2F2;
    font-weight:bold;
    }
